@using SJIP_LIMMV1.Models
@model  SJIP_LIMMV1.Models.SearchViewModel
@{
    ViewBag.Title = "createView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .validationError {
        color: red;
    }
</style>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

</head>

<body>
    <div class="container body-content">




        <div class="container">



            <div class="row justify-content-start" style="padding-top:10px;">
                <h1>Search Info</h1>
            </div>

            <form id="myForm">
                <div class="col-sm-12">

                    <div class="col-sm-6" style="padding-top:10px;">

                        <div class="col-sm-12">

                            <div class="col-sm-3" style="padding-top:15px;">
                                @Html.LabelFor(x => x.TownCouncil)
                            </div>
                            <div class="col-sm-9" style="padding-top:5px;">
                                @Html.TextBoxFor(x => x.TownCouncil)
                            </div>
                        </div>

                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.TownCouncil, "", new { @class = "validationError" })
                        </div>

                        <div class="col-sm-12">

                            <div class="col-sm-3" style="padding-top:15px;">
                                @Html.LabelFor(x => x.Block)
                            </div>
                            <div class="col-sm-9" style="padding-top:5px;">
                                @Html.TextBoxFor(x => x.Block)
                            </div>

                        </div>

                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.Block, "", new { @class = "validationError" })
                        </div>

                    </div>

                    <div class="col-sm-6" style="padding-top:10px;">

                        <div class="col-sm-12">

                            <div class="col-sm-3" style="padding-top:15px;">
                                @Html.LabelFor(x => x.SIMCard)
                            </div>
                            <div class="col-sm-9" style="padding-top:5px;">
                                @Html.TextBoxFor(x => x.SIMCard)
                            </div>
                        </div>

                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.SIMCard, "", new { @class = "validationError" })
                        </div>


                        <div class="col-sm-12">
                            <div class="col-sm-3" style="padding-top:15px;">
                                @Html.LabelFor(x => x.LMPD)
                            </div>
                            <div class="col-sm-9" style="padding-top:5px;">
                                @Html.TextBoxFor(x => x.LMPD)
                            </div>
                        </div>

                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.LMPD, "", new { @class = "validationError" })
                        </div>

                    </div>

                </div>

                <div class="col-sm-12">
                    <div style="padding-top:10px;padding-bottom:10px; ">

                        @*<a href="#" class="btn btn-primary " onclick="Search()">Search</a>*@
                        <input type="button" id="search" value="Search">

                    </div>
                </div>
            </form>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Town Council</th>
                        <th>Block</th>
                        <th>SIM Card</th>
                        <th>LMPD</th>
                    </tr>
                </thead>
                <tbody id="SearchDetails">

                    @foreach (SensorBoxInfo item in Model.SensorBoxInfoResults)
                    {
                        <tr>
                            <td>@item.TownCouncil </td>
                            <td>@item.BlockNo </td>
                            <td>@item.SIMCard</td>
                            <td>@item.LMPD</td>
                        </tr>

                    }
                </tbody>

            </table>

        </div>


    </div>
</body>

<script>


    //var Search = function () {
    $("#search").click(function () {
        var form = $("#myForm");
        ``

        var data = form.serialize();
        if (!$("#myForm").valid()) {

            return false;
        }
        debugger

        var setData = $("#SearchDetails");
        setData.html("");
        $.ajax({
            type: "POST",
            url: "/Search/submitSearch",
            //dataType: "json",
            //contentType: "application/json;",
            //data: JSON.stringify(searchViewModel),
            data: data,

            success: function (result) {
                if (result.length == 0) {
                    setData.append("<tr><td>no data</td></tr>")
                }
                else {
                    $.each(result, function (index, value) {
                        var Data = "<tr>" +
                            "<td>" + value.TownCouncil + "</td>" +
                            "<td>" + value.BlockNo + "</td>" +
                            "<td>" + value.SIMCard + "</td>" +
                            "<td>" + value.LMPD + "</td>" +
                            "</tr>";
                        setData.append(Data);
                    });
                }

            }
        });

    });


</script>