<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LIMMS V1.0</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LIMM v1.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @Title = "Home" })</li>
                    <li>@Html.ActionLink("Add Box", "PreBoxAdd", "BoxInfo", new { area = "" }, new { @Title = "Submit Box" })</li>
                    <li>@Html.ActionLink("Search", "MainSearch", "Search", new { area = "" }, new { @Title = "Search Box Details" })</li>
                    <li>@Html.ActionLink("Commissioned Box Submission", "ComRecForm", "BoxInfo", new { area = "" }, new { @Title = "Commissioning Record" })</li>
                    <li>@Html.ActionLink("Submission History", "ComRecHistory", "BoxInfo", new { area = "" }, new { @Title = "Commissioning Record History" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @Title = "Contact" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="beforefooter" class="container body-content">
        @RenderBody()
    </div>
    <div class="navbar navbar-fixed-bottom text-center" style="background: rgba(255,255,255,0.95);">
        <footer>
            <p>&copy; @DateTime.Now.ToString("ddd, dd/MMM/yyyy") - LIMM version 1.0. Contents by SJIntern for Surban Jurong Technologies.</p>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>


    <style>

        .navbar {
            min-height: 0px;
        }

        #beforefooter {
            padding-bottom: 20px !important;
        }

        div.container div.body-content {
            width: 100% !important;
            padding: 0 0 0 0 !important;
            margin: 0 0 0 0 !important;
        }
    </style>
</body>
</html>
